body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: white;
  color: black;
  user-select: none;
}

* {transition: all 0.3s ease-in-out;}

ul {margin-left: 0;padding-left: 0;}
li {list-style-type: none;}
button:focus {outline: none;}

.menu {
  background: #333333;
  width: 200px;
  height: 97%;
  border-left: 4px solid black;
  border-radius: 1px;
  position: fixed;
  top: 6px;
  transform: translateX(-210px);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.menu > ul {
  margin-top: -2px;
}
.menu > ul > li:nth-of-type(1) {font-size: 24pt; border-bottom: 2px solid #808080;}
.menu > ul > li {
  color: white;
  font-size: 20pt;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s ease-in-out;

  box-shadow: inset 0px 0 0 transparent;
}
.menu > ul > li:not(:nth-of-type(1)) {padding-left: 15px;border-top: 2px solid #404040;}
.menu > ul > li:nth-of-type(2) span {display: inline-block;transform: rotate(90deg);}
.menu > ul > li:nth-of-type(3) span {display: inline-block;transform: rotate(90deg);}
.menu > ul > li:nth-of-type(4) span {display: inline-block;transform: rotate(90deg);}
.menu > ul > li:nth-of-type(5) span {display: inline-block;transform: rotate(90deg);}

.menu > ul > li:not(:nth-of-type(1)):hover {
  letter-spacing: 1.5px;
  padding-left: 25px;
  box-shadow: inset -201px 0 0 #666666;
}

#btn-icon-block {
  width: 50px;
  border: 1px solid black;
  background: #333333;
  color: white;
  padding: 1px;

  text-align: center;
  border-radius: 1px;
  font-size: 24pt;
  font-weight: normal;

  position: fixed;
  top: 0px;
  left: 212px;
}

#btn-icon-block:hover {
  background: #666666;
  border: 1px solid #333333;
  border-radius: 1px;
  cursor: pointer;
}

.sponsors-block {border-left: 2px solid yellow;margin-left: 30px; display: none;}
.sponsors-block > li {
  background: #333333;
  color: white;
  font-size: 18pt;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0 0 transparent;
}
.sponsors-block li:hover {
  letter-spacing: 1.5px;
  padding-left: 15px;
  box-shadow: inset -200px 0 0 #666666;
}

.location-block {border-left: 2px solid yellow;margin-left: 30px;display: none;}
.location-block > li {
  background: #333333;
  color: white;
  font-size: 18pt;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0 0 transparent;
}
.location-block li:hover {
  letter-spacing: 1.5px;
  padding-left: 15px;
  box-shadow: inset -200px 0 0 #666666;
}

.projects-block {border-left: 2px solid yellow;margin-left: 30px;display: none;}
.projects-block > li {
  background: #333333;
  color: white;
  font-size: 18pt;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0 0 transparent;
}
.projects-block li:hover {
  letter-spacing: 1.5px;
  padding-left: 15px;
  box-shadow: inset -200px 0 0 #666666;
}

.contacts-block {border-left: 2px solid yellow;margin-left: 30px;display: none;}
.contacts-block > li {
  background: #333333;
  color: white;
  font-size: 18pt;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0px 0 0 transparent;
}
.contacts-block li:hover {
  letter-spacing: 1.5px;
  padding-left: 15px;
  box-shadow: inset -200px 0 0 #666666;
}




